langchain
ipykernel
python-dotenv
# langchain-openai
# openai
langchain-groq
# beautifulsoup4
# langchain-community
# langchain-text-splitters
# faiss-cpu
# langchain-classic
langchain-core
fastapi
uvicorn
langserve
sse_starlette